
body {
    background-color: #494949;    
}

.wrapper {    
    width: 1100px; margin: 0 auto; 
}


body,
nav,
footer,
h1 {
    margin: 0;
   padding: 0;
}

nav {
    background-color: #494949;
    margin: 0;
    overflow: auto;
}

nav ul {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;    
}

nav ul li:not(:first-child) {
  float: right;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    color: white;
    background-color: #494949;
    display: block;
    line-height: 100px;
    padding: 1em 3em;
    text-decoration: none;
    font-size: 1.0em;
}

nav ul li a.logo {
    background-color: #494949;
}



.subheader {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 100px;
    color: rgba(0, 0, 0, 0.88);
    background-color: rgb(71, 58, 255);   
}

.main {
    background: #fff;
}

th {
    font-size: 145%;
    text-align: left;
    height: 145px;
    vertical-align: bottom;
    font-size: 2.0em;   
}

table,
th,
td {    
    font-family : "Myriad Web",Verdana,Helvetica,Arial,sans-serif;   
    color: rgba(0, 0, 0, 0.88);
    border-collapse: collapse;
}

th,
td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.88);   
}

th.last {
    text-align: right; 
}

td.last {
    text-align: right;
}

th, td {
    padding: 8px
}

td {
    font-size: 120%;
    padding-left: 20px;  
}

tr:nth-child(even) {
   
}

tr:nth-child(odd) {
   
}

tr:hover {
    background-color: #727A81;
}


footer {
    font-family:Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #494949;
    height: 135px;
    text-align: center;
    padding: 10px;
    font-size: 2.0em;
    padding-top: 35px;
}






/*

selector {
    property: value;
}
\

a {}

.class1 {}
.wrapper {}

#idName {}

element specific class
div.class1 {}

class chain
.class1.class2 {}  <table class="class1 class2">

generic child
.class1 .class2 {}

<div class="class1">
    <div class="class2">
    </div>
</div>

generic child
div p { color: red; }

direct child
div > p { color: red;}

<div>
    <p></p>

    <span>
        <p></p>
    </span>
</div>

attribute selector
[id] {}
[class] {}
[href] {}
[style] {}


attribute selector contains
[class*="contains"] {} // <div class="contains1">
[href*="http://"] {color: green;}


*/
